[tool.poetry]
name = "tog"
version = "0.3.0"
description = "Command line tool for interacting with tog data server"
authors = []
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
attrs = "^19.3.0"
pydash = "^4.7.6"
docopt = "^0.6.2"
tqdm = "^4.46.0"
psycopg2-binary = "^2.8.5"
pytz = "^2020.1"
python-dateutil = "^2.8.1"

[tool.poetry.dev-dependencies]
pytest = "^5.4.2"

[tool.poetry.scripts]
tog = "tog.cli:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
